<div class="row">
    <div class="col-md-12">
        {{#unless category}}
<div class="col-md-12 text-center">
            <strong>{{message}}</strong>
</div>
        {{/unless}}

          <h2>Categories</h2>
          <hr />

          <p>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <th>Category ID</th>
                        <th>Category Name</th>
                    </thead>
                    <tbody>
                         {{#each categories}}
                      <tr>
                     <td><a href="/posts?category={{id}}">{{id}}</a></td>
                     <td><a href="/posts?category={{id}}">{{category}}</a></td>
                     </tr>
                     {{else}}
                     <p> NO DATA <p>
                      {{/each}}
                    </tbody>
                </table>
            </div>
          </p>

    </div>
</div>
